---
layout: default
current: home
class: 'home-template'
navigation: True
sponsors:
 - inycom.png
 - everis.png
 - keensoft.png
 - hiberus.png
sponsors2:
 - unizar.png
 - eina.png
 - codelab.png
 - eboca.png
 - laterminal.png
 - lifezero.png
 - gdg.png
comitee:
 - name: 'Angel Ca&ntilde;al'
   github: lAngelP
   twitter: lAngelP
   linkedin: angeldcm
   photo: assets/images/ppl/angel.jpg
 - name: 'Jorge Garc&iacute;a'
   github: jgarciapueyo
   twitter: 
   linkedin: jgarciapueyo
   photo: assets/images/ppl/jorge.png
 - name: 'Alejandro G&oacute;mez'
   github: alexx99gg
   twitter: 
   linkedin: alejandro-gomez-7633a0163
   photo: assets/images/ppl/alexGomez.png
 - name: 'Daniel Gonz&aacute;lez'
   github:
   twitter: 
   linkedin: 
 - name: 'Jorge Pinilla'
   github: jorpilo
   twitter: jorpilo
   linkedin: jorpilo
   photo: assets/images/ppl/jorgeP.png
 - name: 'Javier L&oacute;pez Pellicer'
   github: fjlopez
   twitter: fjlopez
   linkedin: franciscojlopezpellicer
   photo: assets/images/ppl/fjlopez.jpg
 - name: 'David Abi&aacute;n'
   github: 
   twitter: abiatus
   linkedin: 
faqs:
 - title: '¿Qu&eacute; es un hackathon?'
   body: 'Un hackathon es un evento en el que estudiantes y profesionales se re&uacute;nen 
        para resolver retos mediante su <b>ingenio</b> y af&aacute;n de superaci&oacute;n. 
        Los participantes trabajan en equipo para crear <i>software</i> y <i>hardware</i>
        cuyo &uacute;nico l&iacute;mite es su <b>imaginaci&oacute;n</b>.'
 - title: '¿Cu&aacute;nto cuesta?'
   body: 'Participar en ImagineCode es gratuito. Durante el evento se proporcionar&aacute;
        conexi&oacute;n a Internet y un lugar en el que participar.'
 - title: '¿Qu&eacute; puedo hacer?'
   body: 'Puedes realizar literalmente <b>LO QUE QUIERAS</b>, aplicaciones m&oacute;viles, VR/AR, juegos,
        p&aacute;ginas web...'
 - title: '¿Qu&eacute; ocurre si no tengo un equipo?'
   body: '<b>No hay problema, ¡participa!</b> Al inicio del hackathon se formar&aacute;n los equipos con
        las personas que no hayan formado equipo a&uacute;n.'
 - title: '¿Cu&aacute;ntos participantes y equipos habr&aacute;?'
   body: 'Habr&aacute; 100 participantes y los equipos pueden ser de entre 2 y 4 participantes.'
 - title: '¿Qui&eacute;n puede ir al evento?'
   body: 'Cualquier estudiante o profesional de la industria que tenga al menos 18 a&ntilde;os durante 
        este a&ntilde;o 2018.'
 - title: 'No me veo capacitado para superar un reto, ¿puedo ir?'
   body: '<b>¡Por supuesto!</b> ImagineCode <i style="color: gray;">Starter</i> es un reto especialmente diseñado para aquellos participantes con poca experiencia.'
 - title: '¿A qu&eacute; estudiantes est&aacute; destinado el evento?'
   body: 'Principalmente a cualquier ingenier&iacute;a (inform&aacute;tica, telecomunicaciones, 
        electr&oacute;nica, industrial...) y cualquier profesional de estas industrias, aunque 
        cualquiera puede participar.'
 - title: '¿Qu&eacute; debo llevar al evento?'
   body: 'B&aacute;sicamente, un ordenador y un documento que te identifique. A partir de ah&iacute; 
        lo que quieras y necesites. '
schedule_hours:
  - '00'
  - '01'
  - '02'
  - '03'
  - '04'
  - '05'
  - '06'
  - '07'
  - '08'
  - '09'
  - '10'
  - '11'
  - '12'
  - '13'
  - '14'
  - '15'
  - '16'
  - '17'
  - '18'
  - '19'
  - '20'
  - '21'
  - '22'
  - '23'
---

{% include navigation.html %}

<!-- The main content area -->
<main id="site-main" class="site-main outer ic-main-container">
  {% include main.html %}
</main>
