---
layout: default
current: home
class: 'home-template'
navigation: True
platinum:
 - unknown1.png
 - unknown1.png
 - unknown1.png
 - unknown1.png
gold:
 - unknown1.png
 - unknown1.png
 - unknown1.png
 - unknown1.png
sponsors2:
 - codelab.png
 - gdg.png
 - unizar.png
 - eina.png
comitee:
 - name: '&Aacute;ngel Cañal'
   github: langelp
   twitter: langelp
   linkedin: angeldcm
   photo: assets/images/ppl/angel.jpg
 - name: 'Alejandro G&oacute;mez'
   github: alexx99gg
   twitter: 
   linkedin: alejandro-gomez-7633a0163
   photo: assets/images/ppl/alexGomez.png
 - name: 'Javier L&oacute;pez Pellicer'
   github: fjlopez
   twitter: fjlopez
   linkedin: franciscojlopezpellicer
   photo: assets/images/ppl/fjlopez.jpg
 - name: 'Jos&eacute; F&eacute;lix Longares'
   github: pepelongares
   twitter: PePeLoNGaReS
   linkedin: josé-félix-longares-moreno-00503a172
   photo: assets/images/ppl/pepelomo2.jpg
 - name: 'Jorge Rambla Gonz&aacute;lez'
   github: jorgerambla
   twitter: jorgerambla97
   linkedin: jorgerambla
   photo: assets/images/ppl/jrambla.jpg
 - name: 'Roberto Carlos Claver Ubiergo'
   github: robertoccu
   twitter: robertoccu
   linkedin: robertoclaverubiergo
   photo: assets/images/ppl/rccu.jpg
   hide: true
 - name: 'David Mart&iacute;n Moya'
   github:
   twitter:
   linkedin: david-martín-moya-244396194/
   photo: assets/images/ppl/rod.jpg
   hide: true
 - name: 'David L&oacute;pez Matur&eacute;n'
   github:
   twitter:
   linkedin: david-lópez-maturén-b428a7181/
   photo: assets/images/ppl/david_per.jpg
   hide: true
 

faqs:
 - title: '¿Qu&eacute; es un hackathon?'
   body: 'Un hackathon es un evento en el que estudiantes y profesionales se re&uacute;nen 
        para resolver retos mediante su <b>ingenio</b> y af&aacute;n de superaci&oacute;n. 
        Los participantes trabajan en equipo para crear <i>software</i> y <i>hardware</i>
        cuyo &uacute;nico l&iacute;mite es su <b>imaginaci&oacute;n</b>.'
 - title: '¿Cu&aacute;nto cuesta?'
   body: 'Participar en ImagineCode es gratuito. Durante el evento se proporcionar&aacute;
        conexi&oacute;n a Internet y un lugar en el que participar.'
 - title: '¿Qu&eacute; puedo hacer?'
   body: 'Puedes realizar literalmente <b>LO QUE QUIERAS</b>: aplicaciones m&oacute;viles, VR/AR, juegos,
        p&aacute;ginas web...'
 - title: '¿Qu&eacute; ocurre si no tengo un equipo?'
   body: '<b>No hay problema, ¡participa!</b> Al inicio del hackathon se formar&aacute;n los equipos con
        las personas que no hayan formado equipo a&uacute;n.'
 - title: '¿Cu&aacute;ntos participantes y equipos habr&aacute;?'
   body: 'Habr&aacute; 100 participantes y los equipos pueden ser de entre 2 y 4 participantes.'
 - title: '¿Qui&eacute;n puede ir al evento?'
   body: 'Cualquier estudiante o profesional de la industria que tenga al menos 18 a&ntilde;os durante 
        este a&ntilde;o.'
 - title: 'No me veo capacitado para superar un reto, ¿puedo ir?'
   body: '<b>¡Por supuesto!</b> ImagineCode <i style="color: gray;">Starter</i> es un reto especialmente diseñado para aquellos participantes con poca experiencia.'
 - title: '¿A qu&eacute; estudiantes est&aacute; destinado el evento?'
   body: 'Principalmente a cualquier ingenier&iacute;a (inform&aacute;tica, telecomunicaciones, 
        electr&oacute;nica, industrial...) y cualquier profesional de estas industrias, aunque 
        cualquiera puede participar.'
 - title: '¿Qu&eacute; debo llevar al evento?'
   body: 'B&aacute;sicamente, un <b>ordenador</b> y un documento que te identifique (<b>DNI</b> o pasaporte, por ejemplo), del resto nos encargamos nosotros. Comida, alojamiento, internet... corre por nuestra cuenta. Puedes traer cualquier material que necesites.'
schedule_hours:
  - '00'
  - '01'
  - '02'
  - '03'
  - '04'
  - '05'
  - '06'
  - '07'
  - '08'
  - '09'
  - '10'
  - '11'
  - '12'
  - '13'
  - '14'
  - '15'
  - '16'
  - '17'
  - '18'
  - '19'
  - '20'
  - '21'
  - '22'
  - '23'
sections:
  - name: countdown
    text: 'Countdown'
    link: '#countdown'
    order: 0
    show: true
    show_nav: false
  - name: inscription
    text: 'Inscripci&oacute;n'
    link: '#inscription'
    order: 1
    show: true
    show_nav: true
  - name: about
    text: 'Acerca de'
    link: '#about'
    order: 2
    show: true
    show_nav: true
  - name: schedule
    text: 'Horario'
    link: '#schedule'
    order: 3
    show: false
    show_nav: true
  - name: challenges
    text: 'Retos'
    link: '#challenges'
    order: 5
    show: true
    show_nav: true
  - name: sponsors
    text: 'Patrocinadores'
    link: '#sponsors'
    order: 6
    show: true
    show_nav: true
  - name: faq
    text: 'FAQ'
    link: '#faq'
    order: 4
    show: true
    show_nav: true
  - name: comitee 
    text: 'Organizadores'
    link: '#comitee' 
    order: 7
    show: true
    show_nav: true
  - name: location 
    text: 'Lugar'
    link: '#location'
    order: 8
    show: true
    show_nav: true
---

{% include navigation.html %}

<!-- The main content area -->
<main id="site-main" class="site-main outer ic-main-container">
  {% include main.html %}
</main>
