<div class="container mb-5">
    <div class="card">
        <div class="row ml-0">
            <div class="col-md-7 col-sm-12 pl-0">
                <img src="{{site.baseurl}}assets/images/hackathon-hashcode.png" alt="Card image cap">
            </div>
            <div class="col-md-5 col-sm-12 pt-4">
                <div class="card-body">
                    <h2 class="card-title font-weight-bold">¿Qué es?</h2>
                    <p class="card-text">ImagineCode es un hackathon organizado en la Escuela de Ingenieria y Arquitectura
                        de la Universidad de Zaragoza que est&aacute; pensado para todas las personas interesadas en
                        aprender, conocer gente y pas&aacute;rselo bien.</p>
                </div>
            </div>
        </div>
    </div>
</div>