<div id="challenges" class="container mb-5">
        <div class="card shadow-sm">
            <div class="card-body">
                <h1 class="card-title mb-4 font-weight-bold">Retos</h1>
                <section class="challenges slider">
                    <div>
                        <div class="challenge">
                            <h3 class="challenge-header">Reto <b>ImagineCode <span style="color:gray;">Starter</span></b></h3>
                            <div class="unknown-challenge">?</div>
                            <p class="challenge-description">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                            <p class="challenge-topic"><b>Temática</b>: <span class="challenge-topic-label">???</span></p>
                            <h3 class="prize-header">Premio:</h3>
                            <p class="prize-description">???</p>
                        </div>
                    </div>
                    <div>
                        <div class="challenge">
                            <h3 class="challenge-header">Reto 1</h3>
                            <img src="{{ site.baseurl }}assets/images/challenges/blockchain.png" alt="Blockchain challenge" class="challenge-img" />
                            <p class="challenge-description">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                            <p class="challenge-topic"><b>Temática</b>: <small class="challenge-topic-label">Blockchain</small></p>
                            <h3 class="prize-header">Premio:</h3>
                            <p class="prize-description">???</p>
                        </div>
                    </div>
                    <div>
                        <div class="challenge">
                            <h3 class="challenge-header">Reto 2</h3>
                            <img src="{{ site.baseurl }}assets/images/challenges/ml.jpg" alt="ML challenge" class="challenge-img" />
                            <p class="challenge-description">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                            <p class="challenge-topic"><b>Temática</b>: <small class="challenge-topic-label">Machine Learning</small></p>
                            <h3 class="prize-header">Premio:</h3>
                            <p class="prize-description">???</p>
                        </div>
                    </div>
                    <div>
                        <div class="challenge">
                            <h3 class="challenge-header">Reto 3</h3>
                            <div class="unknown-challenge">?</div>
                            <p class="challenge-description">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                            <p class="challenge-topic"><b>Temática</b>: <small class="challenge-topic-label">GameJam</small></p>
                            <h3 class="prize-header">Premio:</h3>
                            <p class="prize-description">???</p>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>

<script>
$(document).ready(function(){
    $(".unknown-challenge").each(function(i, e){
        $(e).css("height", parseInt($(e).css("width")) * (333.0/500.0) + "px");
    });
});
</script>