<article class="post-card home-template no-image flex-item-full-flow" id="challenges">
    <div class="post-card-content">
        <a class="post-card-content-link">
            <header class="post-card-header">
                <h2 class="post-card-title">Challenges</h2>
            </header>
            <section class="post-card-excerpt">
                    <section class="challenges slider">
                            <div>
                                <h3>Reto 1º/2º</h3>
                            </div>
                            <div>
                                <h3>Reto Machine Learning</h3>
                            </div>
                            <div>
                                <h3>Reto Videojuegos</h3>
                                <img src="/assets/images/challenges/gaming-min.png" alt="Videogame challenge" />
                            </div>
                            <div>
                                <h3>Reto IoT</h3>
                                <img src="/assets/images/challenges/iot-min.png" alt="IoT challenge" />
                            </div>
                            <div>
                                <h3>Reto especial</h3>
                            </div>
                        </section>
            </section>
        </a>
    </div>
</article>