<article class="post-card home-template no-image" id="comitee">
    <div class="post-card-content">
        <a class="post-card-content-link">
            <header class="post-card-header">
                <h2 class="post-card-title">Organización</h2>
            </header>
            </a>
            <section class="post-card-excerpt">
                <div class="flex-container">
                    <div class="person">
                        <img class="photo" src="assets/images/abraham.jpg" alt=""/>
                        <div class="social-network">
                            <a href=""><i class="fab fa-twitter fa-2x"></i></a>&nbsp;
                            <a href=""><i class="fab fa-linkedin fa-2x"></i></a>
                        </div>
                    </div>
                    <div class="person">
                        <img class="photo" src="assets/images/abraham.jpg" alt=""/>
                        <div class="social-network">
                            <a href=""><i class="fab fa-twitter fa-2x"></i></a>&nbsp;
                            <a href=""><i class="fab fa-linkedin fa-2x"></i></a>
                        </div>
                    </div>
                    <div class="person">
                        <img class="photo" src="assets/images/abraham.jpg" alt=""/>
                        <div class="social-network">
                            <a href=""><i class="fab fa-twitter fa-2x"></i></a>&nbsp;
                            <a href=""><i class="fab fa-linkedin fa-2x"></i></a>
                        </div>
                    </div>
                    <div class="person">
                        <img class="photo" src="assets/images/abraham.jpg" alt=""/>
                        <div class="social-network">
                            <a href=""><i class="fab fa-twitter fa-2x"></i></a>&nbsp;
                            <a href=""><i class="fab fa-linkedin fa-2x"></i></a>
                        </div>
                    </div>
                    <div class="person">
                        <img class="photo" src="assets/images/abraham.jpg" alt=""/>
                        <div class="social-network">
                            <a href=""><i class="fab fa-twitter fa-2x"></i></a>&nbsp;
                            <a href=""><i class="fab fa-linkedin fa-2x"></i></a>
                        </div>
                    </div>
                    <div class="person">
                        <img class="photo" src="assets/images/abraham.jpg" alt=""/>
                        <div class="social-network">
                            <a href=""><i class="fab fa-twitter fa-2x"></i></a>&nbsp;
                            <a href=""><i class="fab fa-linkedin fa-2x"></i></a>
                        </div>
                    </div>
                    <div class="person">
                        <img class="photo" src="assets/images/abraham.jpg" alt=""/>
                        <div class="social-network">
                            <a href=""><i class="fab fa-twitter fa-2x"></i></a>&nbsp;
                            <a href=""><i class="fab fa-linkedin fa-2x"></i></a>
                        </div>
                    </div>
                    <div class="person">
                        <img class="photo" src="assets/images/abraham.jpg" alt=""/>
                        <div class="social-network">
                            <a href=""><i class="fab fa-twitter fa-2x"></i></a>&nbsp;
                            <a href=""><i class="fab fa-linkedin fa-2x"></i></a>
                        </div>
                    </div>
                </div>
            </section>
        <!--</a>-->
    </div>
</article>