<article class="post-card home-template">
        <a class="post-card-image-link">
            <div class="post-card-image countdown-main center-div">
                <div class="center-div">
                    <div class="countdown-container">
                        <div class="countdown-item">
                            <div id="dias"></div>
                            <h3>dias</h3>
                        </div>
                        <div class="countdown-item">
                            <div id="horas"></div>
                            <h3>horas</h3>
                        </div>
                        <div class="countdown-item">
                            <div id="min"></div>
                            <h3>minutos</h3>
                        </div>
                        <div class="countdown-item">
                            <div id="seg"></div>
                            <h3>segundos</h3>
                        </div>
                    </div>
                    </div>
            </div>
        </a>
        <div class="post-card-content">
            <a class="post-card-content-link">
                <header class="post-card-header">
                    <h2 class="post-card-title">Cuenta atr&aacute;s</h2>
                </header>
                <section class="post-card-excerpt">
                    <p>El hackathon se celebrar&aacute; <b>el pr&oacute;ximo oto&ntilde;o</b> en la Escuela de Ingenier&iacute;a y Arquitectura, </p>
                </section>
            </a>
        </div>
</article>