<div id="countdown" class="container mb-5">
    <div class="card shadow-sm">
        <div class="row ml-0">
            <div class="col-md-7 col-sm-12 pl-0">
                <div class="countdown-main center-div">
                    <div class="center-div">
                        <div class="countdown-container">
                            <div class="countdown-item">
                                <div class="tiempo" id="dias"></div>
                                <h3>dias</h3>
                            </div>
                            <div class="countdown-item">
                                <div class="tiempo" id="horas"></div>
                                <h3>horas</h3>
                            </div>
                            <div class="countdown-item">
                                <div class="tiempo" id="min"></div>
                                <h3>minutos</h3>
                            </div>
                            <div class="countdown-item">
                                <div class="tiempo" id="seg"></div>
                                <h3>segundos</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-5 col-sm-12 pt-4">
                <div class="card-body">
                    <div align="center">
                        <p>
                            <small class="text-muted">¡Apúntate a </small>
                            ImagineCode
                            <small class="text-muted">! Se celebrará el <br /></small>
                            Q4 2019<small class="text-muted"> en la </small>EINA<small class="text-muted">.</small>
                        </p>
                    </div>
                    <div align="center">
                        <button class="inscription-btn" style="background-color: gray"><h4 class="font-weight-bold">¡Próximamente!</h4></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>