<article class="post-card home-template no-image flex-item-full-flow" id="faq">
    <div class="post-card-content">
        <a class="post-card-content-link">
            <header class="post-card-header">
                <h2 class="post-card-title">FAQ</h2>
            </header>
            <section class="post-card-excerpt">
                <div class="flex-container faq-container">
                    <div class="flex-item faq-item shadow1">
                        <h3>¿Qu&eacute; es un hackathon?</h3>
                        <p>Un hackathon es un evento en el que estudiantes y profesionales se re&uacute;n 
                            para resolver retos mediante su <b>ingenio</b> y af&aacute;n de superaci&oacute;n. 
                            Los participantes trabajan en equipo para crear <i>software</i> y <i>hardware</i>
                            cuyo &uacute;nico l&iacute;mite es su <b>imaginaci&oacute;n</b>.</p>
                    </div>
                    <div class="flex-item faq-item shadow2">
                        <h3>¿Cu&aacute;nto cuesta?</h3>
                        <p>Participar en ImagineCode es gratuito. Durante el evento se proporcionar&aacute;
                            conexi&oacute;n a Internet y un lugar en el que participar.</p>
                    </div>

                    <div class="flex-item faq-item">
                        <h3>¿Qu&eacute; puedo hacer?</h3>
                        <p>
                            Puedes realizar literalmente <b>LO QUE QUIERAS</b>, aplicaciones m&oacute;viles, VR/AR, juegos,
                            p&aacute;ginas web...
                        </p>
                    </div>


                    <div class="flex-item faq-item">
                        <h3>¿Qu&eacute; ocurre si no tengo un equipo?</h3>
                        <p>
                            <b>No hay problema, ¡participa!</b> Al inicio del hackathon se formar&aacute;n los equipos con
                            las personas que no hayan formado equipo a&uacute;n.
                        </p>
                    </div>
                    <div class="flex-item faq-item">
                        <h3>¿Cu&aacute;ntos participantes y equipos habr&aacute;?</h3>
                        <p>
                            Habr&aacute; 100 participantes y los equipos pueden ser de entre 2 y 4 participantes.
                        </p>
                    </div>
                    <div class="flex-item faq-item">
                        <h3>¿Qui&eacute;n puede ir al evento?</h3>
                        <p>
                            Cualquier estudiante o profesional de la industria que cumpla 18 a&ntilde;os durante 
                            este a&ntilde;o 2018.
                        </p>
                    </div>
                    <div class="flex-item faq-item">
                        <h3>Acabo de entrar a la Universidad, ¿puedo ir?</h3>
                        <p>
                                <b>¡Por supuesto!</b> Adem&aacute;s habr&aacute; un reto especial para los estudiantes que 
                                est&eacute;n en los dos primeros a&ntilde;os de cualquier grado.
                        </p>
                    </div>
                    <div class="flex-item faq-item">
                        <h3>¿A qu&eacute; estudiantes est&aacute; destinado el evento?</h3>
                        <p>
                            Principalmente a cualquier ingenier&iacute;a (inform&aacute;tica, telecomunicaciones, 
                            electr&oacute;nica, industrial...) y cualquier profesional de estas industrias, aunque 
                            cualquiera puede participar.
                        </p>
                    </div>
                    <div class="flex-item faq-item">
                        <h3>¿Qu&eacute; debo llevar al evento?</h3>
                        <p>
                            B&aacute;sicamente, un ordenador y un documento que te identifique. A partir de ah&iacute; 
                            lo que quieras y necesites. 
                        </p>
                    </div>
                </div>
            </section>
        </a>
    </div>
</article>