<article class="post-card home-template no-image flex-item-full-flow" id="faq">
    <div class="post-card-content">
        <a class="post-card-content-link">
            <header class="post-card-header">
                <h2 class="post-card-title">FAQ</h2>
            </header>
            <section class="post-card-excerpt">
                <div class="flex-container faq-container">
                    {% for faq in page.faqs %}
                    <div class="flex-item faq-item">
                        <h3>{{ faq.title }}</h3>
                        <p>{{ faq.body }}</p>
                    </div>
                    {% endfor %}
                </div>
            </section>
        </a>
    </div>
</article>