<article class="post-card home-template no-image flex-item-full-flow" id="inscription">
    <div class="post-card-content">
        <a class="post-card-content-link">
            <header class="post-card-header">
                <h2 class="post-card-title">Inscripci&oacute;n</h2>
            </header>
            <section class="post-card-excerpt visible-desktop">
                <h3><b>ImagineCode Challenge</b></h3>
                <p>Esta modalidad ofrece la experiencia de un hackathon completa. La duración será mayor, alrededor de 36 horas, y contará con 3 retos completos basados en distintas temáticas “state of the art” (importantes e interesantes). Si eres una persona con cualquier tipo de experiencia en la informática, sin importar (el background), apúntate a esta increíble experiencia.</p>
                <h3><b>ImagineCode Starter</b></h3>
                <p>Tratamos de ser un hackathon diferente y uno de sus objetivos es mostrar a la gente con poca experiencia en el sector lo que se puede llegar a construir. Por esta razón, esta modalidad se compone de un único reto adaptado y cuya duración y dificultad será menor. Si eres una persona interesada en el mundo de la informática, pero que acaba de empezar, te recomendamos esta opción. Iremos avanzando más información en el futuro.</p>
                <div align="center" style="margin-bottom: 50px;">
                    <h3><b><a href="https://imaginecode.org/inscripcion">Inscríbete aquí</a></b></h3>
                </div>
            </section>
        </a>
    </div>
</article>