<div id="inscription" class="container mb-5">
    <div class="card shadow-sm">
        <div class="card-body">
            <h1 class="card-title mb-4 font-weight-bold">Inscripci&oacute;n</h1>
            <div class="card-body">
                <h3><b>ImagineCode Challenge</b></h3>
                <p>Esta modalidad ofrece la experiencia de un hackathon completa. La duración será mayor, alrededor de 36 horas, y contará con 3 retos completos basados en distintas temáticas “state of the art” (importantes e interesantes). Si eres una persona con cualquier tipo de experiencia en la informática, sin importar (el background), apúntate a esta increíble experiencia.</p>
                <h3><b>ImagineCode Starter</b></h3>
                <p>Tratamos de ser un hackathon diferente y uno de sus objetivos es mostrar a la gente con poca experiencia en el sector lo que se puede llegar a construir. Por esta razón, esta modalidad se compone de un único reto adaptado y cuya duración y dificultad será menor. Si eres una persona interesada en el mundo de la informática, pero que acaba de empezar, te recomendamos esta opción. Iremos avanzando más información en el futuro.</p>
                <div style="width:200px" class="mx-auto mb-2 mt-5">
                    <a href="/inscripcion"><button class="inscription-btn"><h4 class="font-weight-bold">¡Click para apuntarme!</h4></button></a>
                </div>
            </div>
        </div>
    </div>
</div>