<article class="post-card home-template no-image" id="inscription">
    <!--<a class="post-card-image-link">
        <div class="post-card-image" style="background-image: url(assets/images/advanced.jpg)">
        </div>
    </a>-->
    <div class="post-card-content">
        <a class="post-card-content-link">
            <header class="post-card-header">
                <h2 class="post-card-title">Inscripci&oacute;n</h2>
            </header>
            <section class="post-card-excerpt">
                <div class="col-centered">
                    <img class="centered rounded" src="/assets/images/soon.jpg" style="max-height: 250px;" />
                </div>
                <p>
                Aún no est&aacute; abierta la inscripci&oacute;n, pero si estás interesado en participar ¿ap&uacute;ntate 
                a nuestra newsletter?
                </p>
            </section>
        </a>
    </div>
</article>