<article class="post-card home-template" id="schedule">
    <a class="post-card-image-link">
        <div class="post-card-image" style="background-image: url(assets/images/advanced.jpg)">
            <!-- Display the countdown timer in an element -->
        </div>
    </a>
    <div class="post-card-content">
        <a class="post-card-content-link">
            <header class="post-card-header">
                <h2 class="post-card-title">Horario</h2>
            </header>
            <section class="post-card-excerpt">
                <p>Las fechas aún no están decididas pero será sobre la primera o segunda semana de clase</p>
            </section>
        </a>
    </div>
</article>