<article class="post-card home-template no-image flex-item-full-flow" id="schedule">
    <div class="post-card-content">
        <a class="post-card-content-link">
            <header class="post-card-header">
                <h2 class="post-card-title">Horario</h2>
            </header>
            <section class="post-card-excerpt">
                <p>Las fechas aún no están decididas pero será sobre la primera o segunda semana de clase</p>
            </section>
        </a>
    </div>
</article>