<ul class="nav" role="menu">
    <li class="nav-option" role="menuitem"><a href="#inscription">Inscripci&oacute;n</a></li>
    <li class="nav-option" role="menuitem"><a href="#about">About</a></li>
    <li class="nav-option" role="menuitem"><a href="#sponsors">Patrocinadores</a></li>
    <li class="nav-option" role="menuitem"><a href="#challenges">Retos</a></li>
    <li class="nav-option" role="menuitem"><a href="#schedule">Horario</a></li>
    <li class="nav-option" role="menuitem"><a href="#faq">FAQ</a></li>
    <li class="nav-option" role="menuitem"><a href="#comitee">Organizadores</a></li>
    <li class="nav-option" role="menuitem"><a href="#location">Lugar</a></li>
</ul>