/* MOVE TO main.css ASAP */

div.countdown-content {
    color: rgba(127, 127, 127, 0.75);
    background-color: rgba(200, 10, 10, 0.5) !important;
    font-size: 4rem;
}

#countdown-content {
    color: rgba(127, 127, 127, 0.75);
    background-color: rgba(200, 10, 10, 0.5) !important;
    font-size: 4rem;
}

div.countdown-maincontainer {
    /*display: inline;
    margin: 0 1em 0 1em;*/
    /*display: table;*/
}

.countdown-main {
    background: url(/assets/images/advanced.jpg);
    background-size: 100% 100%;
    opacity: 0.9;
}

.flex-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.center-div
{
  display: flex;
  align-items: center;
  margin: 0 auto;
  width: 80%;
  height: 25%;
  min-height: 100px;
  padding: 20px;
}

.countdown-item {
}

@media(min-width: 500px){
    .countdown-container {
      display: grid;
      grid-template-columns: auto auto auto auto;
      grid-gap: 10px;
      background-color: #fff;
      padding: 10px;
    }
}
    
@media(max-width: 500px){
    .countdown-container {
      display: grid;
      grid-template-columns: auto auto;
      grid-gap: 10px;
      background-color: #fff;
      padding: 10px;
    }
}

.countdown-container > div {
      background-color: rgba(255, 255, 255, 0.8);
      text-align: center;
      padding: 20px 0;
      font-size: 30px;
    }