h1 {
    font-size: 30px;
    text-align: center;
}

h4 {
    text-align: center;
}

p {
    font-size: 20px;
}

.sponsor-img {
    width: 90%;
    height: 90%;
}

.map {
    width: 100%;
    height: 100%;
}

.person {
    flex: 1 1 auto;
    margin: 5%;
    min-width: 100px;
    width: 5%;
}

.photo {
    border-radius: 50%;
}

#comitee .post-card-content {
    width: 100%;
}

.social-network {
    margin-top: 5px;
    text-align: center;
}