.col-centered {
    align-content: center;
    width: 100%;
}

img.centered {
  display: block;
    margin-left: auto;
    margin-right: auto;
}

img.rounded {
  border-radius: 15px;
}

* {
  box-sizing: border-box;
}

.slider {
  width: 80% !important;
  margin: 50px auto;
}

.slick-slide {
margin: 0px 20px;
}

.slick-slide img {
  height: 100%;
  margin: auto;
}

.slick-prev:before,
.slick-next:before {
color: black;
}


.slick-slide {
transition: all ease-in-out .3s;
opacity: .2;
}

.slick-active {
  opacity: .5;
}

.slick-current {
opacity: 1;
}